<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- node -->
  <node pkg="amaze_waypoint_following" type="amaze_waypoint_following" name="amaze_waypoint_following" output="screen" clear_params="true" required="true">
    <remap from="/fuse_node/motor_speeds" to="/hummingbird/motor_speed"/>
  </node>
</launch>
