<?xml version="1.0" encoding="UTF-8"?>

<!-- arguments -->
<arg name="filename"    default="../???"/>
<arg name="mode"        default="0"/>

<launch>
  <node pkg="amaze_waypoint_following" type="amaze_waypoint_following" name="amaze_waypoint_following"/>

  <param name="filename"  type="string"   value="$(arg filename)" />
  <param name="mode"      type="int"      value="$(arg mode)" />

  <rosparam param="header">["x" "y" "z" "yaw" "secs"]</rosparam>

</launch>
